<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>私钥和助记词</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4">私钥和助记词</h1>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">私钥</h5>
          <p class="card-text">{{ private_key }}</p>
          <!-- 这里假设你有种子短语 -->
          <!-- <h5 class="card-title">助记词</h5>
          <p class="card-text">{{ seed_phrase }}</p> -->
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="/" class="btn btn-link">返回首页</a>
    </div>
    <footer class="text-center mt-4">
      <p>版本号：0.0.1 Beta © 2024 XIAO bot</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
